@media (max-width: 1250px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        
    }
    .card img {
        height: max-content;
    }
}
@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
    }
    .card img {
        height: max-content;
    }
}

@media (max-width: 400px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
    }
    .card img {
        height: max-content;
    }

    .info {
        padding-top: 1rem;
    }

}